html{
    background:url('images.jpeg');
    margin:0;
    background-size:cover;
}
h1{
    color:rgb(5, 56, 5);
    text-align:center;
    max-width:90vw;
    font-size:80px;
    margin:auto;
}
